.grid-container {
  display: grid;
  /* width: 608px;
  height: 608px; */
  width: 100%;
  max-width: 608px;
  max-height: 608px;
  min-width: 408px;
  min-height: 408px;
  aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio */

  border: 2px solid black;
  box-sizing: border-box;
}

.grid-square {
  background-color: white;
  border: 1.5px solid black;
  box-sizing: border-box;
}

.grid-square.active {
  background-color: #0a84ff;
}

.grid-square.error {
  background-color: red;
}

.grid-square:not(.active):not(.error):hover {
  background-color: #bfbfbf;
}

.grid-square.active:hover {
  background-color: #0764bf;
}
